<%= simple_form_for(@tsighting), :validate => true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :x_coord %>
    <%= f.input :y_coord %>
    <%= f.input :date %>
    <%= f.input :your_name %>
    <%= f.input :contact_info %>
    <%= f.input :catchment %>
    <%= f.input :river %>
    <%= f.input :no_of_minks %>
    <%= f.input :status %>
    <%= f.input :comments %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
