<p id="notice"><%= notice %></p>

<p>
  <strong>X coord:</strong>
  <%= @tsighting.x_coord %>
</p>

<p>
  <strong>Y coord:</strong>
  <%= @tsighting.y_coord %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tsighting.date %>
</p>

<p>
  <strong>Contact code:</strong>
  <%= @tsighting.contact_code %>
</p>

<p>
  <strong>Your name:</strong>
  <%= @tsighting.your_name %>
</p>

<p>
  <strong>Contact info:</strong>
  <%= @tsighting.contact_info %>
</p>

<p>
  <strong>Reported by:</strong>
  <%= @tsighting.reported_by %>
</p>

<p>
  <strong>Reported to:</strong>
  <%= @tsighting.reported_to %>
</p>

<p>
  <strong>Catchment:</strong>
  <%= @tsighting.catchment %>
</p>

<p>
  <strong>River:</strong>
  <%= @tsighting.river %>
</p>

<p>
  <strong>No of minks:</strong>
  <%= @tsighting.no_of_minks %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tsighting.status %>
</p>

<p>
  <strong>Follow up:</strong>
  <%= @tsighting.follow_up %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @tsighting.comments %>
</p>

<p>
  <strong>Photo:</strong>
  

<%= image_tag @tsighting.image.url(:small) %>


</p>

<%= link_to 'Edit', edit_tsighting_path(@tsighting) %> |
<%= link_to 'Back', tsightings_path %>
