<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
</script>

<h2>Create User</h2>
 
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Admin</a></li>
    <li><a href="#tabs-2">Volunteer</a></li>
    <li><a href="#tabs-3">Fishery Trust</a></li>
    <li><a href="#tabs-4">Scientist</a></li>
  </ul>
  <div id="tabs-1">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>
        <% f.input :role, :as => :hidden, :input_html => { :value => "admin" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    
    <% end %>      
  </div>

  <div id="tabs-2">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>
        <%= f.input :first_name, required: true %>
        <%= f.input :last_name, required: true %>
        <%= f.input :contact_code, required: true %>
        <%= f.input :organisation %>
        <%= f.input :role_in_org %>
        <%= f.input :forms_signed, as: :boolean, checked_value: true, unchecked_value: false, required: true %>
        <%= f.input :report_sightings, as: :boolean, checked_value: true, unchecked_value: false, required: true %>
        <%= f.input :monitor, as: :boolean, checked_value: true, unchecked_value: false, required: true %>
        <%= f.input :trapper, as: :boolean, checked_value: true, unchecked_value: false, required: true%>
        <%= f.input :dispatcher, as: :boolean, checked_value: true, unchecked_value: false, required: true%>        
        <!-- Change to landowner -->
        <%= f.input :land_owner, as: :boolean, checked_value: true, unchecked_value: false, required: true %>
        <%= f.input :peer, as: :boolean, checked_value: true, unchecked_value: false %>
        <%= f.input :num_of_rafts_given %>
        <%= f.input :num_of_traps_given %>
        <%= f.input :owned_traps, as: :boolean, checked_value: true, unchecked_value: false %>  
        <%= f.input :second_organisation %>
        <%= f.input :start_date, as: :date_picker %>
        <%= f.input :end_date, as: :date_picker %>
        <%= f.input :newsletter %>
        <%= f.input :owned_carcass_storage, as: :boolean, checked_value: true, unchecked_value: false, required: true %>
        <%= f.input :how_heard_of_smi, as: :string %>
        <%= f.input :comments, as: :text %>
        <!-- These are only activated if landowner field is checked (aka, true) -->
        <% if :land_owner == :true %>
          <%= f.input :estate_name %>
          <%= f.input :land_access_nodes, as: :text %>
          <%= f.input :access_granted, as: :boolean, checked_value: true, unchecked_value: false, required: true %>
          <%= f.input :date_access_granted, as: :date_picker %>
          <%= f.input :end_date_access, as: :date_picker %>
          <%= f.input :share_data, as: :boolean, checked_value: true, unchecked_value: false, required: true %>
          <%= f.input :trap_codes, as: :string %>
        <% end %>
        <% f.input :role, :as => :hidden, :input_html => { :value => "volunteer" } %>

      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>
  </div>

  <div id="tabs-3">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>
        <%= f.input :fishery_trust_name, required: true %>
        <% f.input :role, :as => :hidden, :input_html => { :value => "ft" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>
  </div>

  <div id="tabs-4">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>
        <%= f.input :first_name, required: true %>
        <%= f.input :last_name, required: true %>
        <% f.input :role, :as => :hidden, :input_html => { :value => "scientist" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>     
  </div>
</div>

<%= render "devise/shared/links" %>
