<p id="notice"><%= notice %></p>

<h1>Listing Rafts</h1>

<table>
  <thead>
    <tr>
      <th>River</th>
      <th>Catchment</th>
      <th>Start date</th>
      <th>Raft code</th>
      <th>Raft/Tunnel/Trap</th>
      <th>Contact code</th>
      <th>Organisation</th>
      <th>Landowner contact code</th>
      <th>Dispatcher contact code</th>
      <th>Created by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rafts.each do |raft| %>
      <tr>
        <td><%= raft.river %></td>
        <td><%= raft.catchment %></td>
        <td><%= raft.start_date %></td>
        <td><%= raft.raft_code %></td>
        <td><%= raft.raft_or_tunnel %></td>
        <td><%= raft.contact_code %></td>
        <td><%= raft.organisation %></td>
        <td><%= raft.landowner_contact_code %></td>
        <td><%= raft.dispatcher_contact_code %></td>
        <td><%= raft.created_by %></td>
        <td><%= link_to 'Show', raft %></td>
        <td><%= link_to 'Edit', edit_raft_path(raft) %></td>
        <td><%= link_to 'Destroy', raft, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Raft', new_raft_path %>
