<p id="notice"><%= notice %></p>

<h1>Listing Rafts</h1>

<table>
  <thead>
    <tr>
      <th><%= sortable "river" %></th>
      <th><%= sortable "catchment" %></th>
      <th><%= sortable "start_date" %></th>
      <th><%= sortable "raft_code" %></th>
      <th><%= sortable "raft/tunnel/trap" %></th>
      <th><%= sortable "contact_code" %></th>
      <th><%= sortable "coordinating_organisation" %></th>
      <th><%= sortable "landowner_contact_code" %></th>
      <th><%= sortable "dispatcher_contact_code" %></th>
      <th><%= sortable "created_by" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rafts.each do |raft| %>
      <tr>
        <td><%= raft.river %></td>
        <td><%= raft.catchment %></td>
        <td><%= raft.start_date %></td>
        <td><%= raft.raft_code %></td>
        <td><%= raft.raft_or_tunnel %></td>
        <td><%= raft.contact_code %></td>
        <td><%= raft.coordinating_org %></td>
        <td><%= raft.landowner_contact_code %></td>
        <td><%= raft.dispatcher_contact_code %></td>
        
        <!-- lines 38-42 should link by raft.created_by to the show page for the user who created it -->
        <!-- currently it is throwing an 'undefined method: id' error -->
        <!-- this shouldn't occur because all users have an id -->
        <td>
          <a href="/users/"<% User.find_by(email: raft.created_by).id.to_s %>>
            <%= raft.created_by %>
          </a>
        </td>
        
        <td><%= link_to 'Show', raft %></td>
        <td><%= link_to 'Edit', edit_raft_path(raft) %></td>
        <td><%= link_to 'Destroy', raft, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Raft', new_raft_path %>
