<p id="notice"><%= notice %></p>

<p>
  <strong>X Coord:</strong>
  <%= @raft.x_coord %>
</p>

<p>
  <strong>Y Coord:</strong>
  <%= @raft.y_coord %>
</p>

<p>
  <strong>River:</strong>
  <%= @raft.river %>
</p>

<p>
  <strong>Catchment:</strong>
  <%= @raft.catchment %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @raft.start_date %>
</p>

<p>
  <strong>Raft code:</strong>
  <%= @raft.raft_code %>
</p>

<p>
  <strong>Raft/Tunnel/Trap:</strong>
  <%= @raft.raft_or_tunnel %>
</p>

<p>
  <strong>Status change date:</strong>
  <%= @raft.status_change_date %>
</p>

<p>
  <strong>Raft status:</strong>
  <%= @raft.raft_status %>
</p>

<p>
  <strong>Contact code:</strong>
  <%= @raft.contact_code %>
</p>

<p>
  <strong>Organisation:</strong>
  <%= @raft.coordinating_org %>
</p>

<p>
  <strong>Landowner contact code:</strong>
  <%= @raft.landowner_contact_code %>
</p>

<p>
  <strong>Dispatcher contact code:</strong>
  <%= @raft.dispatcher_contact_code %>
</p>

<p>
  <strong>Access notes:</strong>
  <%= @raft.access_notes %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @raft.comments %>
</p>

<p>
  <strong>User ID:</strong>
  <%= link_to @raft.user_id, "/users/#{@raft.user_id}" %>
</p>

<%= link_to 'Edit', edit_raft_path(@raft) %> |
<%= link_to 'Back', rafts_path %>
