<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="row">
    <div class="large-8 columns"><%= yield %></div>
    <div class="large-4 columns">
    <h3>So what is Scottish Mink Initiative?</h3>
    <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sem arcu, vulputate eget porttitor vel, fermentum in ante. Nullam ut volutpat enim, nec venenatis nibh. Duis vehicula nibh sed libero vulputate accumsan. Nunc et augue a libero finibus interdum. Aliquam erat volutpat. Phasellus sed risus lorem. Vestibulum cursus sit amet sem vel congue. Suspendisse quis neque mattis, dapibus ex ut, posuere ante. Vestibulum hendrerit arcu sed eros tincidunt lacinia.

Etiam luctus lorem laoreet volutpat pulvinar. Ut molestie ipsum turpis, quis finibus nunc ultrices id. Fusce varius nulla purus, eu gravida sapien imperdiet eget. Vestibulum commodo vulputate sapien, in ultricies diam aliquet non. Suspendisse felis nulla, laoreet sed dolor non, porttitor fermentum ante. Vestibulum vitae viverra turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer sapien ipsum, lobortis ac feugiat eu, venenatis hendrerit elit. Nam at elementum elit, volutpat venenatis magna. 
    </p>
    </div>

  </div>
  </body>
</html>
