<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag :defaults, "rails.validations", "rails.validations.custom" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  
<!-- sample navbar starts here -->
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">MinkPortal</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><%= link_to "Report sighting", new_sighting_path %></li>
      <li class="active"><%= link_to "About", about_path %></li>
    </ul>
    <!-- Left Nav Section -->
    <ul class="left">
      <% if user_signed_in? %>
        <p>Signed in as <%= current_user.email %>. Not you?</p>
        <li class="active"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% if can? :manage, :all %>
          <li class="active"><%= link_to "Create a user", new_user_registration_path, :method => :new %></li>
        <% end %>
      <% else %>
        <li class="active"><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul>
  </section>
</nav>

<!-- sample navbar finishes here -->
  <div class="row">
  <div class="large-2 columns"></div>
    <div class="large-8 columns"><%= yield %></div>
    <div class="large-2 columns">
    <h3>Login</h3>
    <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sem arcu, vulputate eget porttitor vel, fermentum in ante. Nullam ut volutpat enim, nec venenatis nibh. Duis vehicula nibh sed libero vulputate accumsan. Nunc et augue a libero finibus interdum. Aliquam erat volutpat. Phasellus sed risus lorem. Vestibulum cursus sit amet sem vel congue. Suspendisse quis neque mattis, dapibus ex ut, posuere ante. Vestibulum hendrerit arcu sed eros tincidunt lacinia.
    </p>
    </div>

  </div>
  </body>
</html>
