<p id="notice"><%= notice %></p>

<p>
  <strong>Contact code:</strong>
  <%= @raft_check.contact_code %>
</p>

<p>
  <strong>Raft code:</strong>
  <%= @raft_check.raft_code %>
</p>

<p>
  <strong>Date:</strong>
  <%= @raft_check.date %>
</p>

<p>
  <strong>Any species:</strong>
  <%= @raft_check.any_species %>
</p>

<p>
  <strong>Mink:</strong>
  <%= @raft_check.mink %>
</p>

<p>
  <strong>Mink scat:</strong>
  <%= @raft_check.mink_scat %>
</p>

<p>
  <strong>Bird:</strong>
  <%= @raft_check.bird %>
</p>

<p>
  <strong>Cat:</strong>
  <%= @raft_check.cat %>
</p>

<p>
  <strong>Hedgehog:</strong>
  <%= @raft_check.hedgehog %>
</p>

<p>
  <strong>Mouse:</strong>
  <%= @raft_check.mouse %>
</p>

<p>
  <strong>Otter:</strong>
  <%= @raft_check.otter %>
</p>

<p>
  <strong>Pine marten:</strong>
  <%= @raft_check.pine_marten %>
</p>

<p>
  <strong>Rat:</strong>
  <%= @raft_check.rat %>
</p>

<p>
  <strong>Squirrel:</strong>
  <%= @raft_check.squirrel %>
</p>

<p>
  <strong>Stoat:</strong>
  <%= @raft_check.stoat %>
</p>

<p>
  <strong>Water vole:</strong>
  <%= @raft_check.water_vole %>
</p>

<p>
  <strong>Weasel:</strong>
  <%= @raft_check.weasel %>
</p>

<p>
  <strong>Unidentif:</strong>
  <%= @raft_check.unidentif %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @raft_check.comments %>
</p>

<%= link_to 'Edit', edit_raft_check_path(@raft_check) %> |
<%= link_to 'Back', raft_checks_path %>
